DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_TICKET_CHANNEL_ID=
NOCONTEXT_API_URL=https://nocontext.onrender.com
DISCORD_BOT_SECRET=
DISCORD_ADMIN_IDS=
WORKINK_KEY_URL=https://work.ink/2WZq/no-context-key
